[run]
source = app
omit = 
    */tests/*
    */__pycache__/*
    */venv/*
    */env/*
    */migrations/*
    */celery_app/tasks/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
    if TYPE_CHECKING:
    @abstractmethod

precision = 2
show_missing = True
skip_covered = False

[html]
directory = htmlcov
